In [ ]:
#STUDY OF CSV FILES

In [ ]:
import numpy as np
import pandas as pd

df=pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 309 non-null    object
 1   AGE                    309 non-null    int64
 2   SMOKING                309 non-null    int64
 3   YELLOW_FINGERS         309 non-null    int64
 4   ANXIETY                309 non-null    int64
 5   PEER_PRESSURE          309 non-null    int64
 6   CHRONIC DISEASE        309 non-null    int64
 7   FATIGUE                309 non-null    int64
 8   ALLERGY                309 non-null    int64
 9   WHEEZING               309 non-null    int64
 10  ALCOHOL CONSUMING      309 non-null    int64
 11  COUGHING               309 non-null    int64
 12  SHORTNESS OF BREATH    309 non-null    int64
 13  SWALLOWING DIFFICULTY  309 non-null    int64
 14  CHEST PAIN             309 non-null    int64
 15  LUNG_CANCER            309 non-null    object
dtypes: int64(14), object(2)
memory usage: 38.8+ KB

In [ ]:
df1=df.head()
df1

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

In [ ]:
pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",sep=",")

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [ ]:
df = pd.read_csv(
    "/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",
    names=[
        "GENDER*", "AGE#", "SMOKING", "YELLOW_FINGERS", "ANXIETY", "PEER_PRESSURE",
        "CHRONIC DISEASE", "FATIGUE", "ALLERGY", "WHEEZING", "ALCOHOL", "CONSUMING",
        "COUGHING", "SHORTNESS OF BREATH", "SWALLOWING DIFFICULTY", "CHEST PAIN", "LUNG_CANCER"
    ]
)
df

,GENDER*,AGE#,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL,CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER,NaN
1,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES,NaN
2,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES,NaN
3,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO,NaN
4,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES,NaN
306,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES,NaN
307,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES,NaN
308,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES,NaN
309,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES,NaN

In [ ]:
df = pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",index_col="GENDER")
df

,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
GENDER,,,,,,,,,,,,,,,
M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [ ]:
df = pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",header=1)
df

     M  69  1  2  2.1  1.1  1.2  2.2  1.3  2.3  2.4  2.5  2.6  2.7  2.8  YES
0    M  74  2  1    1    1    2    2    2    1    1    1    2    2    2  YES
1    F  59  1  1    1    2    1    2    1    2    1    2    2    1    2   NO
2    M  63  2  2    2    1    1    1    1    1    2    1    1    2    2   NO
3    F  63  1  2    1    1    1    1    1    2    1    2    2    1    1   NO
4    F  75  1  2    1    1    2    2    2    2    1    2    2    1    1  YES
..  ..  .. .. ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
303  F  56  1  1    1    2    2    2    1    1    2    2    2    2    1  YES
304  M  70  2  1    1    1    1    2    2    2    2    2    2    1    2  YES
305  M  58  2  1    1    1    1    1    2    2    2    2    1    1    2  YES
306  M  67  2  1    2    1    1    2    2    1    2    2    2    1    2  YES
307  M  62  1  1    1    2    1    2    2    2    2    1    1    2    1  YES

[308 rows x 16 columns]

In [ ]:
df = pd.read_csv(
    "/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",
    names=[
        "GENDER*", "AGE#", "SMOKING", "YELLOW_FINGERS", "ANXIETY", "PEER_PRESSURE",
        "CHRONIC DISEASE", "FATIGUE", "ALLERGY", "WHEEZING", "ALCOHOL", "CONSUMING",
        "COUGHING", "SHORTNESS OF BREATH", "SWALLOWING DIFFICULTY", "CHEST PAIN", "LUNG_CANCER"
    ]
)
df

,GENDER*,AGE#,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL,CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER,NaN
1,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES,NaN
2,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES,NaN
3,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO,NaN
4,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES,NaN
306,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES,NaN
307,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES,NaN
308,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES,NaN
309,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES,NaN

In [ ]:
df = pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",usecols=["GENDER","AGE","SMOKING"])
df

    GENDER  AGE  SMOKING
0        M   69        1
1        M   74        2
2        F   59        1
3        M   63        2
4        F   63        1
..     ...  ...      ...
304      F   56        1
305      M   70        2
306      M   58        2
307      M   67        2
308      M   62        1

[309 rows x 3 columns]

In [ ]:
df = pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",skiprows=[1,2])
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
1,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
2,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
3,F,75,1,2,1,1,2,2,2,2,1,2,2,1,1,YES
4,M,52,2,1,1,1,1,2,1,2,2,2,2,1,2,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
303,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
304,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
305,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
306,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [ ]:
df = pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",nrows=100)
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,M,60,1,2,2,2,1,2,1,1,1,1,1,2,2,YES
96,F,61,2,2,2,1,1,1,2,1,2,2,2,1,2,YES
97,M,59,2,1,1,2,1,1,1,1,2,2,2,1,1,YES
98,M,64,1,2,2,2,1,2,2,1,1,2,1,2,1,YES
99,M,56,2,1,1,1,1,2,2,2,2,2,2,1,2,YES

In [ ]:
df = pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",encoding="latin-1")
df
#if showing UniCodeDecodeError it means coding is not up8 the original one u need to edit it like we did for Latin-1

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [ ]:
df = pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv", on_bad_lines='skip')
df
#used to remove bad lines like all the data has 6 elements in a row and a few bad lines have more or less so they are removed
#Parser error

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [ ]:
df = pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",dtype={"AGE":str})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 309 non-null    object
 1   AGE                    309 non-null    object
 2   SMOKING                309 non-null    int64
 3   YELLOW_FINGERS         309 non-null    int64
 4   ANXIETY                309 non-null    int64
 5   PEER_PRESSURE          309 non-null    int64
 6   CHRONIC DISEASE        309 non-null    int64
 7   FATIGUE                309 non-null    int64
 8   ALLERGY                309 non-null    int64
 9   WHEEZING               309 non-null    int64
 10  ALCOHOL CONSUMING      309 non-null    int64
 11  COUGHING               309 non-null    int64
 12  SHORTNESS OF BREATH    309 non-null    int64
 13  SWALLOWING DIFFICULTY  309 non-null    int64
 14  CHEST PAIN             309 non-null    int64
 15  LUNG_CANCER            309 non-null    object
dtypes: int64(13), object(3)
memory usage: 38.8+ KB

In [ ]:
df = pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",parse_dates=["SMOKING"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 309 non-null    object
 1   AGE                    309 non-null    int64
 2   SMOKING                309 non-null    object
 3   YELLOW_FINGERS         309 non-null    int64
 4   ANXIETY                309 non-null    int64
 5   PEER_PRESSURE          309 non-null    int64
 6   CHRONIC DISEASE        309 non-null    int64
 7   FATIGUE                309 non-null    int64
 8   ALLERGY                309 non-null    int64
 9   WHEEZING               309 non-null    int64
 10  ALCOHOL CONSUMING      309 non-null    int64
 11  COUGHING               309 non-null    int64
 12  SHORTNESS OF BREATH    309 non-null    int64
 13  SWALLOWING DIFFICULTY  309 non-null    int64
 14  CHEST PAIN             309 non-null    int64
 15  LUNG_CANCER            309 non-null    object
dtypes: int64(13), object(3)
memory usage: 38.8+ KB

/var/folders/km/pql1mrbj65jbf346hp94yd3h0000gn/T/ipykernel_39976/3622051597.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",parse_dates=["SMOKING"])

In [ ]:
df = pd.read_csv("/Users/prathamsharma/Desktop/ML/survey lung cancer.csv",na_values=["M"])
df.dropna(inplace=True)
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
5,F,75,1,2,1,1,2,2,2,2,1,2,2,1,1,YES
7,F,51,2,2,2,2,1,2,2,1,1,1,2,2,1,YES
8,F,68,2,1,2,1,1,2,1,1,1,1,1,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,F,54,2,2,2,1,2,1,1,2,2,1,2,2,2,YES
297,F,47,2,2,1,2,2,2,2,2,1,2,2,1,1,YES
300,F,63,2,2,2,2,2,2,2,2,1,2,2,2,2,YES
302,F,65,2,2,2,2,1,2,1,2,1,2,2,2,1,YES
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES

In [5]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.0-cp39-cp39-macosx_11_0_arm64.whl (10.8 MB)
     |████████████████████████████████| 10.8 MB 904 kB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 18.0 MB/s eta 0:00:01
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     |████████████████████████████████| 347 kB 27.9 MB/s eta 0:00:01
Collecting numpy>=1.22.4
  Downloading numpy-2.0.2-cp39-cp39-macosx_14_0_arm64.whl (5.3 MB)
     |████████████████████████████████| 5.3 MB 11.0 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/prathamsharma/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.3.0 pytz-2025.2 tzdata-2025.2
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
df=pd.read_csv("/Users/prathamsharma/Downloads/Needed/placement.csv")
df.head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0